.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura de toda la ventana */
  background-color: #f0f0f0; /* Color de fondo opcional */
}

.Calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; /* Fondo del contenedor */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto elegante */
}
